@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

@media only screen and (max-width: 600px) {
  #mediaToggle {
    display: none !important;
  }
  #spillCard {
    margin-top: 100px;
    background-color: cornflowerblue;
  }
}

header {
  background-image: url("img/thistle.jpg");
  background-color: black;
  background-size: cover;
  flex-grow: 1;
}
.navbar {
  position: sticky, absolute;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Black Han Sans", sans-serif;
}
main {
  flex-grow: 1;
}

#spillCard {
  margin-top: -100px;
  background-color: coral;
}

footer {
  font-size: small;
}

/* div {
  border: 1px solid black;
} */

.text-light {
  text-shadow: 1px 1px 5px black;
}
