@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

/* Max-width: 750px toggles at 500px - why? */
/* Between 500 and 510px the system is in an undesirable state - expect margin issue?*/
/* TODO resolve the above statements */
@media only screen and (max-width: 750px) {
  #mediaToggle {
    display: none !important;
  }
  #spillCard.spillCard {
    margin-top: 10px;
  }
  .ashg {
    height: 350px;
  }
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: url("img/thistle.jpg");
  background-color: black;
  background-size: cover;
  flex-grow: 1;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Black Han Sans", sans-serif;
}

main {
  flex-grow: 1;
}

.spillCard {
  margin-top: -100px;
}
.ashg {
  min-height: 50em;
}
footer {
  font-size: small;
}

.text-light {
  text-shadow: 1px 1px 5px black;
}

.fa-3x:hover {
  color: yellow;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

.mySlides {
  max-height: 500px;
  max-width: 100%;
}
