@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

/* Max-width: 750px toggles at 500px - why? */
/* Between 500 and 510px the system is in an undesirable state - expect margin issue?*/
/* TODO resolve the above statements */
@media only screen and (max-width: 750px) {
  #mediaToggle {
    display: none !important;
  }
  #spillCard.spillCard {
    margin-top: 10px;
  }
}

header {
  background-image: url("img/thistle.jpg");
  background-color: black;
  background-size: cover;
  flex-grow: 1;
}
.navbar {
  position: sticky, absolute;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Black Han Sans", sans-serif;
}
main {
  flex-grow: 1;
}

.spillCard {
  margin-top: -100px;
}

footer {
  font-size: small;
}

/* div {
  border: 1px solid black;
} */

.text-light {
  text-shadow: 1px 1px 5px black;
}

.fa-2x:hover {
  color: yellow;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
